/*
https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png
*/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    background-color: rgb(19,25,33);
    height: 60px;
    color:white;
}


/* layout**/
.container{
    width: 99%;
    /* background-color: red; */
    height: 100%;
    margin: auto;
    
}
.container-header{
    display: flex;
    align-items: center;
}
/**logo***/
.logo-container{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    
   
    /* overflow: hidden; */
}
.logo{
    width: 120px;
    height: 50px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png');
    background-repeat: no-repeat;
    background-position-y: -40px;
    overflow: hidden;
}
.dotin{
    position: relative;
    margin-left: -13px;
    margin-top: -10px;
}

.border-white{
    padding: 5px;
    border:1.5px solid transparent;
}
.border-white:hover{
    border : 1.5px solid #ffffff;
}

/***********addresss************/
.address-container{
    margin-left: 15px;
}
.address-container p{
    margin:0;
}
.icon-address{
    display: flex;
    align-items: center;
}
.hello{
    font-size: 0.8rem;
    padding-left: 20px;
    color:#ccc;
}
.icon-location{
    margin-right: 7px;
}


/***search-container****/
.search-container{
    background-color: red;
    margin-left: 25px;
    width: 640px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}
.search-container:hover{
    outline: 3px solid orange;
}
.search-select{
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}
.search-input{
    width: 100%;
    height: 100%;
    border:none;
    outline: none;
    padding:3px;
    font-size: 1.1rem;
}
.search-icon{
    width: 50px;
    background-color: rgb(235, 160, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:#000;
}


/***lauguage section*/
.language-container{
    margin-left: 25px;
}
.language-container p{
    font-size: 0.8rem;
    margin: 0;
}
.lauguge-image{
    width: 20px;
}
.lauguge-image img{
    width: 100%;    
}


/***login-container***/
.login-container{
    margin-left: 15px;
}
.login-container p{
    margin:0;
}
.account{
    font-weight: 900;
    font-size: 1.1rem;
}
.return-order-container{
    width: 65px;
    font-size: 0.9rem;
    margin-left: 10px;
}
.return-order-container p{
    margin: 0;
}
.order{
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    width: 70px;
}

/****cart container***/
.cart-container{
    font-size: 1.1rem;
    display: flex;
}
.cart-container i{
    font-size: 1rem;
}